[data-theme="light"] {
  --bg-html: oklch(98.5% 0.002 247.839);

  --bg-main: oklch(98.5% 0.002 247.839);
  --text-main: oklch(13% 0.028 261.692);

  --bg-button: oklch(13% 0.028 261.692);
  --text-button: oklch(98.5% 0.002 247.839);

  --text-date: oklch(55.1% 0.027 264.364);
  --text-error: oklch(50.5% 0.213 27.518);

  --hr-color: oklch(92.8% 0.006 264.531);
}
[data-theme="dark"] {
  --bg-html: oklch(12.9% 0.042 264.695);

  --bg-main: oklch(20.8% 0.042 265.755);
  --text-main: oklch(87.2% 0.01 258.338);

  --bg-button: oklch(43.8% 0.218 303.724);
  --text-button: oklch(87.2% 0.01 258.338);

  --text-date: oklch(44.6% 0.043 257.281);
  --text-error: oklch(70.4% 0.191 22.216);

  --hr-color: oklch(55.4% 0.046 257.417);
}
